.container {
  width: 65%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 650px;
}
.header {
  font-size: 2rem;
  margin: 0 0 30px;
  width: 65%;
}
.textWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.text {
  color: var(--font-body);
  font-family: var(--font-family-body);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 120%;
  white-space: pre-line;
  padding: 0 50px 0 0;
}
.leftSection {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  min-width: 500px;
  margin-right: auto;
}
.rightSection {
  padding: 0px 0 0;
  width: 400px;
  height: 500px;
}
.image {
  box-shadow: 3px 3px 4px 5px rgba(0, 0, 0, 0.5);
}
.skillsListWrapper {
  width: 100%;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column-reverse;
  }
  .rightSection {
    padding: 0;
  }
  .leftSection {
    width: 450px;
    min-width: 450px;
  }
}
