.contactButton {
  border: 1px solid rgba(245, 245, 245, 0.7);
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(245, 245, 245, 1);
  height: 45px;
  width: 150px;
  border-radius: 5px;
  transition: 300ms;
  font-size: 0.9rem;
  font-family: var(--font-header);
}
.contactButton:hover {
  border: 1px solid var(--font-header-green);
  color: var(--font-header-green);
  cursor: pointer;
}
