.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto 0px 20px;
}
.iconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
}
.iconsWrapper svg {
  margin: 0px 15px;
  transition: all 250ms ease-in-out;
}
.iconGithub svg:hover {
  stroke: var(--font-header-green);
}
.iconDiscord svg:hover {
  fill: var(--font-header-green);
}
.iconLinkedIn svg:hover {
  stroke: var(--font-header-green);
}
.iconMail svg:hover {
  stroke: var(--font-header-green);
}
.iconsWrapper svg:hover {
  transform: translateY(-3px);
  cursor: pointer;
}
.text {
  font-size: 0.85rem;
}
