.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
}
.iconGithub {
  height: 24px;
  width: 24px;
  margin: 10px 20px;
  display: block;
  background: url('../public/github.svg');
  background-repeat: no-repeat;
}
.iconDiscord {
  height: 27px;
  width: 27px;
  margin: 10px 20px;
  display: block;
  background: url('../public/discord.svg');
  background-repeat: no-repeat;
}
.iconLinkedIn {
  height: 24px;
  width: 24px;
  margin: 10px 20px;
  display: block;
  background: url('../public/linkedin.svg');
  background-repeat: no-repeat;
}
.iconMail {
  height: 24px;
  width: 24px;
  margin: 10px 20px;
  display: block;
  background: url('../public/mail.svg');
  background-repeat: no-repeat;
}
.text {
  font-size: 0.85rem;
}
