.iconAdd {
  animation: 750ms ease-in-out iconsIn;
}
.iconTrash {
  animation: 700ms ease-in-out iconsIn;
}
.iconPlay {
  animation: 650ms ease-in-out iconsIn;
}
.iconPause {
  animation: 600ms ease-in-out iconsIn;
}
.iconMinus {
  animation: 600ms ease-in-out iconsIn;
}
.iconQuestion {
  animation: 100ms ease-in-out iconsIn;
}

.iconAdd svg:hover {
  stroke: var(--font-header-green);
}
.iconTrash svg:hover {
  stroke: var(--font-header-green);
}
.iconPlay svg:hover {
  stroke: var(--font-header-green);
}
.iconPause svg:hover {
  stroke: var(--font-header-green);
}
.iconMinus svg:hover {
  stroke: var(--font-header-green);
  transform: translateY(0px);
}
.iconQuestion svg:hover {
  stroke: var(--font-header-green);
  transform: translateY(0px);
}

.iconsWrapperOuter {
  display: block;
  position: fixed;
  bottom: 0;
  left: auto;
  right: 5%;
  animation: 550ms ease-in-out iconsIn;
}
.iconsWrapperInner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.iconsWrapperInner svg {
  margin: 15px 0px;
  transition: all 250ms;
}
.iconsWrapperInner svg:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.verticalLine {
  width: 1px;
  height: 80px;
  margin: 20px 0 0;
  background-color: white;
}
.controller {
  display: flex;
  flex-direction: column;
}
@keyframes iconsIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes iconIn {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animateOut {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}
