.container {
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.headerBG {
  width: 96%;
  height: 80px;
  background-color: var(--background-projects-text);
  margin: 18px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.15);
  animation: 350ms ease-in-out headerSlideIn;
}
@keyframes headerSlideIn {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 1;
    width: 96%;
  }
}
.headerBG h3 {
  font-size: 1.5rem;
  font-weight: 500;
  animation: 600ms ease-in-out headerTextIn;
}
@keyframes headerTextIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.headerWrapper {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto 0 20px;
}
.descriptionContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 55%;
  margin: auto auto 20px 40px;
  font-family: var(--font-family-body);
  line-height: 1.4rem;
  font-size: 1.1rem;
  animation: 1000ms ease-in-out descriptionTextIn;
}
@keyframes descriptionTextIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skillsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin: auto auto 20px 40px;
  flex-wrap: wrap;
}
.imageContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25px;
  right: 25px;
}
.image {
  margin: 5px;
  display: flex;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.2);
  animation: 700ms ease-in-out imageIn;
}

.screenshotOne {
  animation: 450ms ease-in-out imageIn;
}
.screenshotTwo {
  animation: 600ms ease-in-out imageIn;
}

@keyframes imageIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
