.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.skillsWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  font-size: 0.9rem;
  line-height: 2rem;
}

@media (min-width: 758px) {
  .skillsWrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 50px;
  }
}
